doctype html
html
  head
    title Vishal Dance Academy
    block scripts
    block style
  body
     nav#navbar
             ul 
                  li #[a(href='/') Home ]
                  li #[a(href='/') About ]
                  li #[a(href='/') Services ]
                  li #[a(href='/') Class Info]
                  li #[a(href='/') Contact Us ]
  block content
  footer#footer
            | Copyright @2023 VishalDanceAcademy.com | All rights reserved      