h1{
    text-align: center;
    margin-top: 6px;
}
.myForm{
    display: flex;
   flex-direction: column;
   margin: 8px auto;
   padding: 6px;
   justify-content: center;
   align-items: center;
}
.myInput{
    width: 49%;
    padding: 12px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid;
  }
.btn{
    padding: 12px;
    border-radius: 24px;
    color: black;
    background: blanchedalmond;
    cursor: pointer;
}